.card {
  width: 100%;
  max-width: 350px;
  height: 250px;
  min-width: 200px;
  min-height: 150px;
  box-shadow: 2px 2px grey;
  border-radius: 10px;
  padding-bottom: 12px;
  flex: 1 1 calc(25% - 20px);
  
  &:hover {
    transform: scale(1.02);
    transition: transform 0.3s ease-in-out;
  }

  &__image {
    width: 100%;
    height: 50%;
    background-color: grey;
    border-radius: 10px;
  }

  &__detailes {
    &-info {
      display: flex;
      padding: 0px 24px;
      justify-content: space-between;
      align-items: center; 
      font-size: 18px;
      &-rate {
        display: flex;
        align-items: center;
        gap: 5px;
      }
    }
  }

  &__star{
    svg {
        width: 42px;
        height:42px;
    }

    svg path {
      fill: transparent;
      transition: stroke 0.2s ease-in-out, fill 0.2s ease-in-out;
    }

    &:hover {
      svg path {
        stroke: rgb(82, 82, 228);
        fill: rgb(82, 82, 228);
      }
    }
  }

  &__heart{
      svg {
        width: 32px;
        height:32px;
      }

      svg path {
        fill: transparent;
        transition: stroke 0.2s ease-in-out, fill 0.2s ease-in-out;
      }

      &:hover {
        svg path {
          stroke: red;
          fill: red;
        }
      }
  }

}
