.navbar {
  &__container {
    background-color: var(--light-blue);
    height: 80px;
    padding: 0 150px; 
    border-bottom: solid 1px var(--dark-blue);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
  }

  &__inner {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
  }

  &__left_side {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
  }

  &__right_side {
    svg {
      width: 200px;
      height: 60px;
    }
  }
}
