.login-page {
  display: flex;
  height: 100vh;
  width: 100vw;

  &__left_side {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 300px 100px;

    &-form {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 300px;

      h2 {
        font-size: 32px;
        color: var(--dark-blue);
        margin-bottom: 30px;
        text-align: center;
      }

      label {
        font-weight: bold;
        color: var(--dark-blue);
        margin-bottom: 5px;
        font-size: 16px;
        align-self: flex-end;
        text-align: right;
        width: 100%;
      }

      input {
        width: 100%;
        padding: 12px 16px;
        margin-bottom: 20px;
        border: none;
        border-radius: 20px;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
        font-size: 16px;
        text-align: right;
      }

      .register-link {
        margin-top: 15px;
        font-weight: bold;
        font-size: 16px;
        color: var(--dark-blue);

        a {
          text-decoration: underline;
          cursor: pointer;
          color: var(--dark-blue);
        }
      }

      &__button {
        width: 150px;
        height: 30px;
        background-color: var(--medium-blue);
        color: var(--dark-blue);
        font-size: 20    px;
        border-radius: 20px;
        border: none;
      }
    }
  }

  &__right_side {
    width: 50%;
    position: relative;
    background-color: transparent;

    &-circle {
        background-color: var(--medium-blue);
        width: 200%;
        aspect-ratio: 1 / 1;
        border-radius: 50%;
        position: absolute;
        right: 50%;
        top: -50%;
        z-index: -1;
        display: flex;
        align-items: center;
        justify-content: center;

        animation: rotateSlideIn2right  1.5s ease-out forwards;
    }
  }
}

@keyframes rotateSlideIn2right {
  0% {
    transform: translateX(-50%) rotate(-90deg) scale(0.8);
    opacity: 1;
  }
  100% {
    transform: translateX(50%) rotate(0deg) scale(1);
    opacity: 1;
  }
}