.home-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    
    &__title {
        font-weight: 400;
        font-size: 32px;
        color: var(--dark-blue);
    }

    &__categories {
        width: 100%;
        height: 100%;
    }

    &__reccomendations {
        &-title {
            font-weight: 400;
            font-size: 32px;
            color: var(--dark-blue);
        }
        &-content {
            display: flex;
            gap: 24px;
        }
    }

}